@import './variables.css';

.main{
    font-family: 'Nunito', sans-serif;
    position:relative;
    z-index: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 100px;
    height: 100vh;
    flex-wrap: wrap;
}

.container{
    max-width: 500px;
    width: 100%;
    max-height: 690px;
    height: 90%;
    border-radius: 20px;
    gap:10px;
    padding: 40px 30px;
    background-color: var(--color-white);
    display: flex;
    flex-direction: column;
    align-items: space-between;
    justify-content: center;
    position: relative;
}

.formulario{
    margin-top:20px;
}

.imagem {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
    z-index:1;
    width: 570px;
    height: 590px;
}

.textLogo{
    animation: suma 3s linear infinite;
}

@keyframes suma{
    0%   { opacity: 0.3; }
    50%  { opacity: 1; }
    100% { opacity: 0.3; }
}

.textoImagem {
    position: fixed;
    bottom: 27px;
    left:50px;
    padding: 10px 18px;
    border-radius: 20px;
    background-color: var(--color-black);
    color: var(--color-black-heavy);
    box-shadow: 2px 2px 10px var(--color-primary);
    animation: flutue 2s ease-out infinite alternate;
    gap:20px;
}

@keyframes flutue {
    0% { 
        transform: translateY(0px);
    }
    100% { 
        transform: translateY(-10px);
    }
}

.textoImagem p{
    margin: 0px;
}

.textoImagem img{
    margin:-15px;
}

input::placeholder{
    color: var(--color-text-placeholder);
    font-size: 1.0rem;
}

.lembrarSenha{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin:0;
}

.lembrar input{
    margin:0;
}

.senhas{
    margin:10px 2px;
    margin-bottom: 30px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    height: 20px;
}

.btnEntrar{
    background-color:var(--color-botoes);
    border:none;
    color: var(--color-white);
    padding: 10px 20px; 
    margin-bottom:30px;
    border-radius: 10px;
    font-size: 1.2rem;
    font-family:'Nunito';
    transition: background-color 0.3s ease;
}

.btnEntrar:hover{
    background-color: var(--color-green-black);
    cursor: pointer;
}


.textoTitulo{
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
}

.titulo1{
    font-size: 2.5rem;
    font-weight: 800;
    margin-bottom: 5px;
}

.titulo2{
    font-size: 1.2rem;
    font-weight: 800;
    margin-bottom: 10px;
}

.mb3{
    display: flex;
    flex-direction: column;
}

.inputGroup{
    display: flex;
    flex-direction: column;
}

.label{
    font-weight: 700;
    font-size: 1.1rem;
    margin:  5px 0px;
}
.inputGroup{
    border: 1px solid var(--color-text-placeholder);
    border-radius: 8px;
    padding: 10px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 7px;
}

.input{
    border:none;
    width: 100%;
    outline:none;
    font-size: 1.0rem;
}

.lembrar{
    border:none;
    outline:none;
    font-size: 1.0rem;
    margin:0px 4px;
}
/*form label{
    font-weight: bolder; //aumenta o peso da fonte
    font-size: larger; //aumenta o tamanho da fonte em relação ao pai
}*/

.ajuda{
    text-align: center;
    margin:10px 0px;
    
}

.ajuda a{
    text-decoration:underline;
    cursor: pointer;
    color:  #0066cc; 
}

.ajuda p{
    margin-top:20px;
}

.social{
    display: flex;
    justify-content: center;
    gap: 10px;
    margin-top: 10px;
}

.socialLink{
    background-color: var(--color-icones);
    padding: 5px 7px;
    border-radius: 20px;

}

.socialInfos .title{
    margin-top:5px;
    text-align: center;
    font-weight: 400;
}

.integracoes{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap:10px;
}


.integracao{
    display: flex;
    flex-direction: row;
    align-items: center;
    background-color: var(--color-red-icon);
    border-radius: 7px;
    transition:background-color 0.3s ease;
}

.integracao:hover{
    background-color:var(--color-red-escuro);
    cursor: pointer;
}

.integracao p{
    font-size:0.8rem;
}

.integracao1{
    display: flex;
    flex-direction: row;
    align-items: center;
    background-color: var(--color-lilas);
    border-radius: 7px;
    transition:background-color 0.3s ease;
}

.integracao1:hover{
    background-color:var(--color-lilas-escuro);
    cursor: pointer;
}

.integracao1 p{
    font-size:0.8rem;
}

.integracao2{
    display: flex;
    flex-direction: row;
    align-items: center;
    background-color: var(--color-cian);
    border-radius: 7px;
}

.integracao2:hover{
    background-color:var(--color-cian-escuro);
    cursor: pointer;
}

.integracao2 p{
    font-size:0.8rem;
}

.iconIntegracao{
    background-color: var(--color-red-escuro);
    width: 17%;
    height: 100%;
    border-radius: 7px;
    margin-right: 2px;
    text-align:center;
    padding-top: 4px;
}

.iconIntegracao1{
    background-color: var(--color-lilas-escuro);
    width: 17%;
    height: 100%;
    border-radius: 7px;
    margin-right: 2px;
    text-align:center;
    padding-top: 4px;
}

.iconIntegracao2{
    background-color: var(--color-cian-escuro);
    width: 17%;
    height: 100%;
    border-radius: 7px;
    margin-right: 2px;
    text-align:center;
    padding-top: 4px;
}

.iconIntegracao svg {
    color: var(--color-white);
}

.socialLink svg {
    color: var(--color-white);
}

.integracoes p{
    color: var(--color-white);
}


.equipeCaistech{
    color: var(--color-equipe-caisTech);
    font-weight: bold;
    right: 0px;
    display: flex;
}

.mensagemEquipe{
    font-weight: 500;
    color: var(--color-text);
}

.textoImagem{
    display: flex;
    flex-direction: row;
    align-items: center;
    background-color: var(--color-white);   
    box-shadow: 5px 10px 15px -3px var(--color-equipe-caisTech);
}

.mensagem{
    display: flex;
    flex-direction: column;
}

.textoImagem img{
    max-width:7.0rem;
    max-height:7.0rem;
    transform: scaleX(-1);
}

.textoImagem:after{ /*Triangulo*/
    content: "";
    width: 0;
    height: 0;
    position: absolute;
    border-left: 20px solid transparent;
    border-right: 20px solid transparent;
    border-top: 20px solid var(--color-white);
    bottom: -20px;
    left: 10%;
}