:root {
    --color-roxo-background: #0D0C15;
    --color-roxo-claro: #161530;
    --color-roxo-escuro: #161424;
    --color-roxo-terminal: #0e0c1d;
    --color-white: #ffffff;
    --color-icones: #6325CE;
    --color-black: #000000;
    --color-text-placeholder: #686868;
    --color-cinza-icon:#7B7B7B;
    --color-botoes: #1FC47A;
    --color-green-black: #19945c;
    --color-equipe-caisTech:#25D366;
    --color-white-secondary: #fff2cc;
    --color-red-icon: #DD2C2C;
    --color-red:#DB4437;
    --color-red-escuro: #7C0000;
    --color-blue: #0099FF;
    --color-pink: #B70089;
    --color-yellow:#FBBC05;
    --color-cian:#17A2B8;
    --color-cian-escuro:#007F93;
    --color-lilas:#738BD7;
    --color-lilas-escuro:#245FAD;
    --first-color: #4723D9;
    --first-color-light: #AFA5D9;
    --white-color: #F7F6FB;
}