:root {
    --color-background: #161530;
    --color-black: #ffffff;
    --color-blackk: #6325ce;
    --color-black-heavy: #000000;
    --color-text: #4f4f4f;
    --color-text-out: #90908e;
    --color-primary: #1fc47a;
    --color-green-black: #19945c;
    --color-secondary: #fff2cc;
    --color-white: #ffffff;
    --color-red: #e74c3c;
    --color-green: #2ecc71;
    --color-separate: #cccccc;
}