@import './styles/reset.css';
:root {
  font-family: Nunito, Montserrat;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
} 
body {
  font-family: Nunito, Montserrat;
  background-size: cover;
  background-position: center;
  min-height: 100vh;
}
